/* Input container */
.input_container {
  position: relative;
  margin: 20px;
}

/* Input_field */
.input_field {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 19px;
  border: none;
 /*  color: #2e2c2c; */
  border-bottom: 2px solid #000000;
  outline: none;
  background-color: transparent;
}


/* Chrome, Edge, Safari */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input_field[type="number"] {
  -moz-appearance: textfield;
}

/* Input label */
.input_label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input_highlight */
.input_highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input_field:focus styles */
.input_field:focus + .input_label {
  top: -20px;
  font-size: 20px;
  color: #007bff;
}

.input_field:focus + .input_label + .input_highlight {
  width: 100%;
}
