.main {
  /* background-color: #3b3ef4;
  border: 10px solid #2613ce;
  border-radius: 10px;
  box-shadow:
  inset 10px 10px 16px rgba(0,0,0,0.25); */
  
  padding: 10px;
 backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
