.pointer {
  cursor: pointer;
}
.body{
  height: 100vh;
}

.tempBorder {
  border: 5px solid red;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}


.shadow-xs {
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
}

.shadow-s {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
}

.shadow-m {
  box-shadow: 10px 10px 3px 2px rgba(0, 0, 0, 0.1);
}