.pointer {
  cursor: pointer;
}
.body{
  height: 100vh;
}

.tempBorder {
  border: 5px solid red;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}